<%- include('header'); -%>
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/lay.css">

  <div class="home-section bg-gray"> 
    <div class="container">
      <div class="row">
          <div class="section-heading">
            <h2>Blog Page</h2>
            <div class="heading-line"></div>
            <p>Various blog are listed here. </p>
          </div></div>
      
          <div class="row">
            <p><b>Category: <%= result[0].category %> </b></p>

                <%for (var j=0;j<result.length;j++) {%>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">

                  <img src="/uploads/n2.jpg" alt="Image" style="width:100%">
                  <% if ( result[j].title.length >= 19) { %>
                    <h6><%= result[j].title.slice(0,18) %>...</h6>
                 <% } else { %>
                     <h6><%= result[j].title %></h6>
                 <% } %>
                      <p>Written by: <%= result[j].author %></p>
                      <a href = "/articles/<%= result[j]._id %>" class="stretched-link">Continue reading</a><br><br><br>
                    </div>
                    <% } %> </div>

           </div>   
  </div>  </div>
  
<%- include('footer'); -%>