<%- include('header'); -%>
<div class="home-section bg-gray"> 

<div class="row" style="margin-left: 0px; margin-right: 0px">
          <div class="section-heading">
            <h1><b>MY BLOG</b></h1>
            <div class="heading-line"></div>
            <p>Welcome to the blog section of <span class="tag">Imagine Huge</span></p>
          </div></div>
<!-- Grid -->
<div class="row" style="margin-left: 0px; margin-right: 0px">
  <div class="col-md-8" >
    <div class="well">
      <div class="media">
      	<a class="pull-center" href="#">
        <img src="/uploads/n2.jpg" alt="" class="bd-placeholder-img" width="100%" height="400" /></a>
        <div class="media-body">
<hr>
          <h3 class="media-heading"><b><%= articles.title %></b></h3>
          <h6><%= articles.category %></h6>
          <h6><%= articles.cat %></h6>


          <p class="text-center">Written by: <b><%= articles.author %></b></p>
          <p><%- articles.body %></p>
          <hr>
        </div></div></div></div>

<aside class="col-md-4">
  
  <!-- Reommended Posts -->
      <h4>Recommended Posts</h4>
      <hr>
  
    <div class="well">
      <div class="media">
      	<a class="pull-left" href="#">
    		<img class="media-object" src="/uploads/gondol.jpg" width="50" height="50" />
  		</a>
  		<div class="media-body">
    		<h4 class="media-heading">Lorem</h4>
          <p class="text-center">By Francisco</p>
       </div>
    </div>
</div>
    <div class="well">
      <div class="media">
        <a class="pull-left" href="#">
        <img class="media-object" src="/uploads/gondol.jpg" width="50" height="50" />
    </a>
      <div class="media-body">
        <h4 class="media-heading">Ipsum</h4>
         <p class="text-center">By Francisco</p>
     </div>
  </div>
</div>
<div class="well">
  <div class="media">
    <a class="pull-left" href="#">
    <img class="media-object" src="/uploads/skies.jpg" width="50" height="50" />
</a>
  <div class="media-body">
    <h4 class="media-heading">Dorum</h4>
     <p class="text-center">By Francisco</p>
 </div>
</div>
</div>
<div class="well">
  <div class="media">
    <a class="pull-left" href="#">
    <img class="media-object" src="/uploads/workshop.jpg" width="50" height="50" />
</a>
  <div class="media-body">
    <h4 class="media-heading">Misum</h4>
     <p class="text-center">By Francisco</p>
 </div>
</div>
</div>
     
   <hr> 
</aside></div></div>
<%- include('footer'); -%>
