<%- include('header'); -%>
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/lay.css">

  <div class="home-section bg-gray"> 
    <div class="container">
      <div class="row">
          <div class="section-heading">
            <h2>Blog Page</h2>
            <div class="heading-line"></div>
            <p>Various blog are listed here. </p>
          </div></div>
          <div class="row">
          <% var k = 5 %>
            <% for(var i=0; i < data.length; i++) { %>
            <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
              <p><b>Category: <%= data[i]._id %> </b></p>
                <div class="MultiCarousel-inner">  
                    <%for (var j=0;j<data[i].entry.length;j++) {%>
                      <% if ( j < k ) { %>
                    <% if (data[i].entry[j].category == data[i]._id) { %>
                                    <div class="item">
                                        <div class="pad15">
                                            <p class="lead">
                                            <img src="/uploads/n2.jpg" alt="Article" style="width:100%">
                                            <% if (data[i].entry[j].title.length >= 29) { %>
                                              <h6><%= data[i].entry[j].title.slice(0,28) %>...</h6>
                                            <% } else { %>
                                               <h6><%= data[i].entry[j].title %></h6>
                                            <% } %>
                                            <a href = "/articles/<%= data[i].entry[j].unique_id %>" class="stretched-link">Continue reading</a>
                                            <br>
                                            <p>Written by: <%= data[i].entry[j].author %></p><br>
                                            </div></div>    <% } %>
                                            <% } %>        <% } %>    

                </div>       
                <span id="divpr<%= i %>" class="divpr">
                  <a href = "<%="/articles/all?cat="+data[i]._id%>"><button class="btn btn-theme cart">See all</button></a>
                </span>
                <button class="btn btn-primary leftLst"><</button>
                <button class="btn btn-primary rightLst">></button>

<!--                <form method="get" action="/articles/all/>">-->
<!--                  <input type="submit" id="<%= i %>" name="sbmtbtn" class="btn btn-theme cart" value="Submit"></input>-->
<!--                </form>-->
        </div>  
        <% cnt=+ 1 %>           
        <% } %>
    </div>

  </div>  </div>

<%- include('footer'); -%>

